<div class="text-gray-700 border-b border-gray-200 w-full pb-2" id="<%= "customer-#{customer.id}" %>">
  <%= link_to customer.name, edit_customer_path(customer), data: { action: "click->modal#open", remote: true } %>
</div>
